// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/** HEADER STYLE START **/

div.header-image {
	margin-top : 100px;	
}

header {

	margin-top : 50px;	
	text-align: center;

	h2, h3 {
		font-weight: 200;
	}
}

/** HEADER STYLE END **/
